<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/style/index.css}" />
    <title>Kelso</title>
</head>
<body>
<header th:replace="header.html"></header>

<main>

    <div class="list_of_product">
        <hr>
        <h3>List of books</h3>
        <table>
            <thead>
            <tr>
                <th>title</th>
                <th>author</th>
                <th>category</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${books}">
                <td th:text="${book.book_title}"></td>
                <td>
                    <span th:if="${book.book_author == null}">NULL</span>
                    <span th:if="${book.book_author != null}">
                            <p th:text="${book.book_author.author_name}"></p>
                        </span>
                </td>
                <td>
                    <table>
                        <tr th:each="category: ${booksCategory}">
                            <td>
                                   <span th:if="${category.bookId.book_id == book.book_id}">
                                       <p th:text="${category.categoryId.category_name}"></p>
                                   </span>
                            </td>
                        </tr>
                    </table>
                </td>

                <td>
                    <a th:href="@{/books/{id}(id=${book.book_id})}">Detail</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<aside>
    <!-- optional sidebar content, such as advertisements or related content -->
</aside>

<footer th:replace="footer.html"></footer>
</body>
</html>