<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Kelso</title>
</head>
<body>
<header>
    <!-- header content, such as logo and navigation menu -->
</header>

<main>
    <div>
        <h2>My orders</h2>

        <h2>My address</h2>
    </div>

    <a href="/logout">logout</a>

</main>

<aside>
    <!-- optional sidebar content, such as advertisements or related content -->
</aside>

<footer>
    <!-- footer content, such as copyright information or site links -->
</footer>
</body>
</html>