<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
  <link rel="stylesheet" th:href="@{/style/footer.css}">
</head>
<footer>
  <div class="footer-brand-name">
    <h2>Kelso</h2>
  </div>
  <nav class="footer-social-networks">
    <ul>
      <li><a href="#">Telegram</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>
  </nav>
  <div class="footer-contact-info">
    <p>Tel num: <a href="tel:+996502365666">+996502365666</a></p>
    <p>Email: <a href="mailto:kelso@gmail.com?subject=Feedback&body=Message">kelso@gmail.com</a></p>
  </div>
  <div class="copyright">
    <p>&copy; 2023 Kelso. All rights reserved.</p>
  </div>
</footer>
</html>