<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>update photo</title>
</head>
<body>
<header>
    <!-- header content, such as logo and navigation menu -->
</header>

<main>
    <div class="category">
        <h3>update photo</h3>
        <h3><a href="/admin">admin page</a></h3>

        <form th:action="@{/admin/update-photo}" method="post" th:object="${photo}">
            <label for="photo_id" hidden>id:
                <input id="photo_id" type="hidden" name="photo_id" th:value="${photo.photo_id}" required>
            </label>
            <label for="book_id" hidden>book:
                <input id="book_id" type="hidden" name="bookId" th:value="${photo.bookId.book_id}" required>
            </label>
            <label for="photo_url">photo:
                <input id="photo_url" type="text" name="photoUrl" th:value="${photo.photoUrl}" required>
            </label>

            <button type="submit">update</button>
        </form>
    </div>
</main>

<aside>
    <!-- optional sidebar content, such as advertisements or related content -->
</aside>

<footer>
    <!-- footer content, such as copyright information or site links -->
</footer>
</body>
</html>